{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "strict": 0,
    "func-names": 0,
    "quotes": [2, "single"],
    "quote-props": 0
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  }
}
